<div class="modal-header">
    <h3>Update Category</h3>
</div>
<div class="modal-body">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="name" id="name" ng-model="dataRespone.name" name="name"   >
        </div>
        <div class="form-group">
            <label for="active">Active</label>
            <input type="text"  ng-model="dataRespone.active"  class="form-control mb-2 mr-sm-2 mb-sm-0" id="active" name="active" placeholder="Active">
        </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="submit()">Submit</button>
</div>
