<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="../js/register.js"></script>
    <link rel="stylesheet" href="../css/register.css">
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body  ng-app="register">
<div ng-controller="registerController">
    <div class="container">
        <h1>Register</h1>
        <hr>
        <label ><b>Username</b></label>
        <input type="text" ng-model="inputParam.userName" placeholder="Enter Username"  required>

        <label ><b>Password</b></label>
        <input type="password" placeholder="Enter Password" ng-model="inputParam.password"  required>

        <label ><b>Repeat Password</b></label>
        <input type="password" ng-model="inputParam.passwordRepeat" placeholder="Confirm Password"  required>
        <hr>
        <button type="submit" class="registerbtn" ng-click="registerFunction(inputParam)" >Register</button>
    </div>
</div>
</body>
</html>


